
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 4px;
    justify-content: center;
    margin-top: 20px;
}


.square {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    box-sizing: border-box;
}

.square.correct {
    background-color: green;
}

.square.incorrect {
    background-color: red;
}

